.mobile-menu {
  display: none!important;
}




@media screen and (max-width: 1020px) {
  .mobile-menu {
    display: block!important;
    padding: 0!important;
  }

  .mobile-menu svg {
    color: #E11E26;
    width: 50px!important;
    height: 50px!important;
  }

  .nav-links {
    display: none!important;
  }

  .nav-links-mobile {
    position: absolute;
    flex-direction: column;

    left: 0;
    top: 75px;
    transition: all 0.5s ease-out;
    width: 300px
  }
}